<script type="text/javascript" src="/javascripts/myPolls.js" charset="utf-8"></script>

<h2 class="title">Polls</h2>

<div id="polls" class="container-fluid call">
</div>
{{#if name}}
<a href="newPoll"><div class="btn btn-default newpoll-btn"><i class="fa fa-plus"></i> New poll</div></a>
{{else}}
<div><p>Log in or register to create a new poll</p></div>
{{/if}}
