
<div id="header"></div>

<div class="share" id="share">

</div>

<div id="poll" class="container votingdiv"></div>

<div id="plot" class="plotdiv"></div>


<script type="text/javascript" src="/javascripts/plotPoll.js" charset="utf-8"></script>

<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
