
<div id="header"></div>

<div class="share">
  <a href="http://www.facebook.com/sharer/sharer.php?u=http://this" target="_blank">
<div class="btn btn-primary share-btn">Share on Facebook</div></a>
</div>

<div id="poll" class="container votingdiv"></div>

<div id="plot" class="plotdiv"></div>


<script type="text/javascript" src="/javascripts/plotPoll.js" charset="utf-8"></script>

<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
